# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

CMakeSettings.json
*/CMakeSettings.json
**/CMakeSettings.json

**/.vscode
**/.vs


*/.vscode/
.vscode/

*/.vs/
.vs/

build/
*/build/
**/build/

build-debug/
*/build-debug/
**/build-debug/

build-release/
*/build-release/
**/build-release/

out/
*/out/
**/out/
