# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

**/.vscode
**/.vs


*/.vscode/
.vscode/

*/.vs/
.vs/

build/
*/build/
**/build/

out/
*/out/
**/out/
